<footer class="footer navbar-fixed-bottom bg-dark">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-sm-4 py-2">
        <h4 id="census-docs" style="margin-top: 28px; color: #f8f8f9;">census-docs</h4>
        <p>A website dedicated to documenting best-practices, tools, and issues related to the U.S. Census Bureau's APIs.</p>
      </div>
      <div class="col-sm-3 py-2">
        <h4 id="divnks" style="margin-top: 28px;">useful links</h4>
        <div><a href="#">Common Questions</a></div>
        <div><a href="/contact/">Contact</a></div>
        <div><a href="#">Help</a></div>
      </div>
      <div class="col-sm-3 py-2">
        <h4 id="more divnks" style="margin-top: 28px;">tutorials</h4>
        <div><a href="http://www.mooreds.com/wordpress/archives/963">Quick start</a></div>
        <div><a href="https://data.library.virginia.edu/using-census-data-api-with-r/">Using R to make a request</a></div>
        <div><a href="https://source.opennews.org/articles/finding-stories-census-data/">Finding a story</a></div>
      </div>
      <div class="col-sm-2 py-2">
        <h4 id="social" style="margin-top: 28px; margin-left: 4px;">social</h4>
        <div class="social social-r1">
          <a class="btn btn-social-icon btn-envelope-o" href="mailto:sdesigns.contact@gmail.com">
            <span class="fa fa-envelope-o" style="color: #efefef;" aria-hidden="true"></span>
          </a>
        </div>
        <div class="social social-r2">
          <a class="btn btn-social-icon btn-linkedin-o" href="https://www.linkedin.com/in/nathan-sheppard-5260765b/">
            <span class="fa fa-linkedin" style="color: #efefef;" aria-hidden="true"></span>
          </a>
          <a class="btn btn-social-icon btn-twitter-o" href="https://censusdocs.twitter.com">
            <span class="fa fa-twitter" style="color: #efefef;" aria-hidden="true"></span>
          </a>
        </div>
        </div>
      </div>
    </div>
  </div>
</footer>