<nav id="navbar">
	<header class="sidebar-header">
		<h3>Getting Started</h3>
	</header>

	<ul class="list-unstyled components">
		<li>
			<a href="#What_is_an_API?" class="nav-link"><h4>What is an API?</h4></a>
		</li>
		<li>
			<a href="#Why_use_the_Census_API?" class="nav-link"><h4>Why use the Census API?</h4></a>
		</li>
		<li>
			<a href="#Getting_Started" class="nav-link"><h4>Getting Started</h4></a>
		</li>
		<li>
			<a href="#Finding_Data" class="nav-link"><h4>Finding Data</h4></a>
		</li>
		<li>
			<a href="#Downloading_the_Data" class="nav-link"><h4>Downloading the Data</h4></a>
			<a href="#httpRequestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="padding-left:5%; font-size:100%;">HTTP Request</a>
			<ul class="collapse list-unstyled" id="httpRequestSubmenu">
				<li>
					<a href="#">dataset location</a>
				</li>
				<li>
					<a href="#">get function</a>
				</li>
				<li>
					<a href="#">geography filters</a>
				</li>
				<li>
					<a href="#">API key</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#"><h5>Python Census API Wraper</h5></a>
		</li>
		<li>
			<a href="#What_Next?" class="nav-link"><h4>What Next?</h4></a>
		</li>
		<li>
			<a href="#Ready_for_More?" class="nav-link"><h4>Ready for More?</h4></a>
		</li>
	</ul>

</nav>